@using System.Globalization
@model IEnumerable<Data_Access_Layer.Entities.Booking>
@{
    ViewData["Title"] = "حجوزاتي";

    var arCulture = new CultureInfo("ar-EG");
}

<div class="container mt-5" style="padding-top: 120px;">
    <h2 class="fw-bold mb-4"><i class="fas fa-list"></i> سجل الحجوزات</h2>

    @if (Model == null || !Model.Any())
    {
        <div class="text-center mt-5">
            <i class="fas fa-bed fa-3x mb-3 text-secondary"></i>
            <h4 class="mb-3">لم تقم بحجز أي غرفة بعد</h4>
            <p class="mb-4">ابدأ رحلتك معنا الآن واختر غرفتك المفضلة!</p>
            <a asp-controller="Rooms" asp-action="Index" class="btn btn-primary btn-lg">
                تصفح الغرف
            </a>
        </div>
    }
    else
    {
        @foreach (var item in Model)
        {
            var nights = (item.CheckOutDate - item.CheckInDate).Days;

            <div class="booking-card">
                <div class="booking-header">
                    <div class="booking-info" style="display:flex">
                        <h4>@item.Room.RoomType.Name</h4>
                        <span class="booking-number">BK_@item.Id</span>
                    </div>
                    <span class="booking-status confirmed">مؤكد</span>
                </div>
                <div class="booking-details">
                    <div class="detail-item">
                        <i class="fas fa-user"></i>
                        <span>@item.Guest.FirstName @item.Guest.LastName</span>
                    </div>
                    <div class="detail-item">
                        <i class="fas fa-users"></i>
                        <span>@item.Room.RoomType.Occupancy</span>
                    </div>
                    <div class="detail-item">
                        <i class="fas fa-calendar-day"></i>
                        <span>@item.CheckInDate.ToString("dd MMMM yyyy", arCulture) - @item.CheckOutDate.ToString("dd MMMM yyyy", arCulture)</span>
                    </div>
                    <div class="detail-item">
                        <i class="fas fa-moon"></i>
                        <span>@nights ليالي</span>
                    </div>
                </div>
                <div class="booking-footer">
                    <div class="booking-total">
                        <span>المجموع:</span>
                        <strong class="text-dark fs-5" >@item.TotalPrice.ToString("N0", arCulture) ج.م.</strong>
                    </div>
                    <div class="booking-actions">
                        <a class="btn-secondary" asp-controller="Booking" asp-action="BookingDetails" asp-route-id="@item.Id">
                            <i class="fas fa-eye"></i>
                            التفاصيل
                        </a>
                    </div>
                </div>
            </div>
        }
    }
</div>
<link rel="stylesheet" href="~/css/admin-roomtype.css" />

